.music__wrap {
}
.music__inner {
    width: 450px;
    background: #011d3f;
    position: absolute;
    right: 100px;
    top: 100px;
    padding: 0 10px 10px 10px;
}
.music__header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.music__header h2 {
    font-size: 14px;
}
.music__contents {
    background: #c4c4c4;
    width: 100%;
}
.music__view {
    display: flex;
    padding: 20px;
}
.music__view .img {
    width: 30%;
}
.music__view .img img {
    width: 100%;
}
.music__view .title {
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #011d3f;
}
.music__view .title h3 {
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 1.2;
}
.music__view .title p {
    color: orangered;
}
.music__control {
    width: 100%;
    height: 100px;
    padding-top: 0;
    padding: 20px;
}
.music__control .progress {
    width: 100%;
    height: 6px;
    background: #011d3f;
    border-radius: 5px;
}
.music__control .progress .bar {
    width: 30%;
    height: inherit;
    background: #ffff43;
    border-radius: 5px;
}
.music__control .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    color: #011d3f;
}
.music__control .control {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.music__control .control .repeat {
    width: 24px;
    height: 24px;
    background-image: url(../img/effect_icon07.svg);
    background-position: -124px;
    background-size: 200px;
    background-repeat: no-repeat;
}
/* .music__control .control .repeat_one {
    width: 48px;
    height: 48px;
    background-image: url(../img/effect_icon07.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -288px;
} */
/* .music__control .control .shuffle {
    width: 48px;
    height: 48px;
    background-image: url(../img/effect_icon07.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -96px;
} */
.music__control .control .prev {
    width: 24px;
    height: 24px;
    background-image: url(../img/effect_icon07.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: -50px;
}
.music__control .control .next {
    width: 24px;
    height: 24px;
    background-image: url(../img/effect_icon07.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: -75px;
}
.music__control .control .play {
    width: 24px;
    height: 24px;
    background-image: url(../img/effect_icon07.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 0px;
}
.music__control .control .stop {
    width: 24px;
    height: 24px;
    background-image: url(../img/effect_icon07.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: -27px;
}
.music__control .control .list {
    width: 24px;
    height: 24px;
    background-image: url(../img/effect_icon07.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: -100px;
}
.music__footer {
}
