.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 180px auto 120px auto;
    transition: all 0.2s ease-in-out;
}

.top__container {
    max-width: 1200px;
    padding: 180px 20px 0 20px;
    margin: 0 auto;
}

.mid__container {
    max-width: 1200px;
    padding: 0 20px 120px 20px;
    margin: 0 auto;
}

.board__total {
    font-size: 14px;
    padding: 0 0 10px 5px;
}

/* 스킵 메뉴 */
#skip {
    position: relative;
    z-index: 100000;
}
#skip a {
    background: #000;
    color: #fff;
    position: absolute;
    padding: 20px 40px;
    left: -400px;
    top: 5px;
}
#skip a:active,
#skip a:focus {
    left: 5px;
}

/* 미디어쿼리 */
@media (max-width:960px) {
    .container {
        width: 90%;
    }
}