/* 로그인 팝업 */
.login__popup {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;
    width: 100%;
    height: 100%;
}

.login__popup.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__wrap {
    font-family: 'SCoreDream';
    width: 450px;
    box-sizing: border-box;
    border-radius: 20px;
    background: #fff;
    padding: 75px 30px 50px;
    position: relative;
}

.login__header {
    padding-bottom: 40px;
    text-align: center;
}

.login__header .popup__title {
    display: inline-block;
    font-size: 50px;
    font-weight: 400;
    color: #323232;
}

.popup__close {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 44%;
    background: #000;
}
.popup__close {
    background-image: url(../img/close-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.login__inner {
    font-family: 'SCoreDream';
    /* padding: 0 50px; */
}

.login__inner .loginForm {
    margin-bottom: 40px;
}

.login__inner .ID {
    margin-bottom: 20px;
}

.login__inner .userID, .userPass {
    width: 100%;
    height: 70px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 1;
    padding-left: 30px;
    color: #323232;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'SCoreDream';
}

.userID::placeholder,
.userPass::placeholder {
    color: #b0b0b0;
    font-size: 18px;
}

.userID:focus,
.userPass:focus {
    outline: none;
}

.login__inner .login-btn {
    cursor: pointer;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 40px;
    background: #000;
    font-size: 24px;
    color: #fff;
}

.login__footer {}

.login__footer .join__btn {
    display: flex;
    justify-content: space-between;
}
.login__footer .join__btn a {
    width: 100px;
    padding: 20px 8px;
    border: 1px solid #323232;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}


/* 미디어쿼리 */
@media (max-width:480px){
    .login__wrap {
        width: 90%;
        padding: 75px 20px 50px;
    }
    .login__footer .join__btn a {
        width: 82px;
        font-size: 13px;
    }
    .popup__close {
        left: 40%;
    }
}

