/* notice */
.notice__header {
    position: relative;
}

.notice__header h2 {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 80px;
    color: #323232;
}
.notice__header .menu {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.notice__header .menu li:nth-child(1) a {
    font-weight: 200;
    padding: 3px 20px;
    font-size: 18px;
    position: relative;
    color: #b0b0b0;
    margin-right: 30px;
}
.notice__header .menu li:nth-child(1) a.active::after {
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 105px;
    background-color: #323232;
    height: 2px;
}
.notice__header .menu li:nth-child(2) a {
    color: #b0b0b0;
    font-weight: 200;
    font-size: 18px;
    padding: 3px 20px;
    position: relative;
}
.notice__header .menu li:nth-child(2) a.active::after {
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 75px;
    background-color: #323232;
    height: 2px;
}
.notice__header .menu li a.active {
    color: #323232;
    font-weight: 600;
}
.notice__header .home {
    position: absolute;
    bottom: 50px;    
    left: 20px;
}
.notice__header .home span:nth-child(1) {
    margin-right: 25px;
}
.notice__header .home span:nth-child(2){
    color: #b0b0b0;
    font-weight: 200;
    font-size: 14px;
    padding-left: 25px;
    border-left: 1px solid #D0D0D0;
}


/* board */
table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: "scoredream";
    font-weight: 400;
    font-style: normal;
    margin-bottom: 90px;
    table-layout: fixed;
}

table thead tr {
    background-color: #323232;
    color: #f5f5f5;
}
table thead tr th {
    font-weight: 400;
    height: 54px;
    font-size: 18px;
}
table tbody tr:hover {
    background-color: #f5f5f5;
}
table tbody tr td:nth-child(2) {
    text-align: left;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

table tbody tr td {
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    color: #323232;
}
table tbody tr td .open {
    cursor: pointer;
}
table tbody tr td .close {
    cursor: pointer;
}
table tbody tr td.content {
    background-color: #f5f5f5;
    text-align: left;
    font-weight: 500;
    box-sizing: border-box;
    padding: 40px 100px;
    font-size: 16px;
    color: #323232;
}

table tbody tr td.content .box {
    border: 1px solid #d0d0d0;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    font-weight: 300;
    font-size: 14px;
    height: 190px;
    overflow-y: scroll;
    margin-top: 30px;
}

/* board table2 */
.board__table2 {
    display: none;
}
.board__table2 table {
    table-layout: fixed;
}
.board__table2 table tbody tr td:nth-child(2) {
    text-align: center;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

/* board__search */
.notice__header {
    position: relative;
}
.board__search {
    float: right;
    position: absolute;
    bottom: -10px;
    right: 40px;
}
.board__search fieldset select {
    width: 100px;
    height: 45px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 16px;
}
.board__search fieldset select option {
    font-size: 16px;
    font-weight: 400;
}
.board__search fieldset select:focus{
    outline: none;
}
.board__search fieldset input {
    width: 200px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #b0b0b0;
    font-size: 16px;
    font-weight: 400;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}
.board__search fieldset input:focus {
    outline: none;
}
.board__search fieldset input::placeholder {
    font-family: "scoredream";
    font-weight: 300;
    font-size: 16px;
}
.board__search fieldset button {
    background-color: white;
    margin-left: 10px;
    cursor:pointer;
}
.board__pages ul {
    display: flex;
    justify-content: center;
}
.board__pages ul li a{
    display: flex;
    justify-content: center;
    color: #888888;
    font-size: 16px;
    padding: 10px;
    font-weight: 400;
}
.board__pages ul li a.active{
    color: #323232;
    font-weight: 600;
}


/* 미디어쿼리 */
@media (max-width: 1000px) {
    .board__search {
        position: static;
        margin-bottom: 40px;
        width: 72%;
    }
    .board__search fieldset input {
        width: 150px;
    }
    table tbody tr td.content {
        padding: 40px 60px;
    }
}

@media (max-width: 600px) {
    .board__table {
        display: none;
    }
    .board__table2 {
        display: block;
    }
    .board__search {
        position: static;
        margin-bottom: 40px;
        width: 82%;
    }
    .notice__header .home {
        display: none;
    }
    .board__table table thead tr th {
        font-size: 16px;
    }
    .board__table table tbody tr td {
        font-size: 14px;
    }
    table tbody tr td.content {
        padding: 40px 20px;
    }
    colgroup col:nth-child(3){
        display: none;
    }
    

}

@media (max-width: 480px) {
    .board__search {
        width: inherit;
    }
    .board__search fieldset select {
        margin-right: 5px;
        width: 90px;
    }
}